* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:none;
    justify-items: center;
    text-align: center;


}
#img-view{
    justify-items: center;
    width: 350px ;
    padding: 10px;
    height: 450px;
    border-radius: 20px;
    border: 2px dashed #4e342e;
    background-size: cover;
    background-position:center ;
    background-color: #ede0cf;

}
#drop-area,#drop-area:hover{
    background-color: transparent;
    box-shadow: 0 0 0 0;
    width:500px ;
    padding: 10px;
    height: 300px;
    border-radius: 20px;
    text-align: center;

}
button{
    margin: 10px;
}
button,label{
    width: auto;
    height: auto;
    color: #4e342e;
    font-size: 25px;
    font-weight:bold ;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(255, 240, 228, 0.5);
}
form:hover, #_book:hover ,label:hover ,button:hover{
    box-shadow: 0 0 5px 5px rgba(78, 52, 46, 1);
    border-radius: 30px;
}
form{
    background-color: rgba(255, 240, 228, 0.5);
    padding: 50px;
    width: 50%;
    height: auto;
    border:none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #4e342e;
    font-weight:bold ;
    font-size: 25px;
    text-align: center;
}

/**/
form div input,#bd,select{
    background-color: #ede0cf;
    color:#4e342e;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border-color: #ede0cf;
    font-size: 25px;
    outline: none;
    font-weight:bold ;
}
form div input:hover,#bd:hover,select:hover{
    border:1px solid #4e342e;

}
.books-container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.book {

    margin-right: 20px;
    text-align: center;
    padding:60px;
}

img {
    margin-top: 10px;
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}


p{
    border-radius: 7px;;
    margin-bottom: 7px;;
    padding: 15px;;
    font-size: 25px;
    font-weight:bold ;
    color:#4c3730;
    background-image: linear-gradient(to right,#d2b48c,#ede0cf,white);
}


.book button {
    padding: 20px;
    background-color: #6d4c41;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight:bold ;
    font-size: 25px;
}

.book button:hover{
    background-color: #fff;
    color:rgb(132, 97, 52);
}