* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../Images/cool secret bookshelf door diy hidden doors aesthetics secret room ideas secret safe hiding storage.jpeg");
    height: 100vh;
    width:100%;
    background-position: center;
    background-size: cover;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.01);
    transition: box-shadow 0.3s;
}

.header:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo{
    font-size: 32px;
    font-style:italic;
    font-weight: 900;
    color: #fffaf1;
    text-decoration: none;
    
}

.navbar a{
    position: sticky;
    font-weight: 900;
    font-size: 18px;
    color: #fffaf1;
    font-weight: 900;
    text-decoration: none;
    margin-left: 40px;
    border-radius: 10px;
}

.navbar a:hover {
    transform: scale(1.1);
    font-weight: 900;
    transition: 0.3s;
    color:  #4e342e;
}


.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    font-weight: 900;
    background:#4e342e;
    transition: .5s;

}
.navbar a:hover:before{
    width: 100%;
}


.search-container {
    position: relative;
}

.search-bar {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4e342e;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2e1d16;
}

.search-list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    list-style: none;
    display: none;
    z-index: 100;
}

.search-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.search-list li:hover {
    background-color: #f0f0f0;
}



.content{
    width:100%;
    position:absolute;
    top:200px;
    text-align: center;
    color: #d2b48c;

}


.content h1{
    font-size: 70px;
    margin-top: 25px;
}


.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}
