* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bg{
    
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("cool secret bookshelf door diy hidden doors aesthetics secret room ideas secret safe hiding storage.jpeg");
    background-position: center;
    background-size: cover;
  
}

.content{
    width:100%;
    position:absolute;
    top:200px;
    text-align: center;
    color: #d2b48c;

}

.content h1{
    font-size: 70px;
    margin-top: 25px;
}
.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button {
    padding:15px; 
    margin-top: 25px;
    text-align: center;
    background-color: #6d4c41;
    width:420px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.5s ease;
}

.content button:hover{
    background-color: #d2b48c;
    color:#4e342e;
    font-weight: bold;
}